.ltgrey{
    background-color: #E5E5E5;
    
}


.alt{
    height: calc(100vh - 56px);
    overflow: hidden;
}


.left1{
    background-image: url("./img/sidebar-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #051E34;
}





.blue{
    background-color: #1B72E8;
}

.dark-blue{
    background-color: #165BBA;
}



.dropdown-menu[data-bs-popper]{
    left: -150px;
}







.row>*{
    padding: 0px;
}


.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl{
    --bs-offcanvas-width: 100vw
}




@media screen and (min-width:992px) {
    .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl{
        --bs-offcanvas-width: 600px
    }
}
