.ltgrey{
    background-color: #E5E5E5;
    
}


.alt{
    height: calc(100vh - 56px);
   
}


.left1{
    background-image: url("./img/sidebar-bg.png");
    background-repeat: no-repeat;
    
    background-color: #051E34;
}





.blue{
    background-color: #1B72E8;
}

.dark-blue{
    background-color: #165BBA;
}



.row>*{
    padding: 0px;
}


/* canvas element "Nuovo Studente" */

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl{
    --bs-offcanvas-width: 100vw
}




@media screen and (min-width:992px) {
    .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl{
        --bs-offcanvas-width: 600px
    }
}
